.section__image-profile {
  border-radius: 50%;
  max-width: 400px;
  width: 95%;
  padding: 70px;
}

.section__social-image {
  width: 40px;
}

.section__about {
  display: flex;

  justify-content: center;
  height: 100vh;
}

.section__description {
  display: flex;
  MAX-width: 700PX;
  width: 95%;

  flex-direction: column;
  gap: 15px;
  
}

.section__name {


  color: black;
  font-family: Lato, sans-serif;
  font-size: 5em;
  margin-block-end: 0;
  margin-block-start: 0;
}

.section__work {
  font-family: Lato, sans-serif;
  font-size: 1.1rem;
  padding: 6px 10px;
  text-transform: none;
  color: black;
}

.section__social {
  display: flex;
  gap: 5px;
}


